deploy/index.html
<!DOCTYPE html><html lang="en"><head><title>Alex Perez, the portfolio</title><link href="stylesheets/normalize.css" rel="stylesheet" type="text/css"><link href="stylesheets/isotope.css" rel="stylesheet" type="text/css"><link href="stylesheets/custom.css" rel="stylesheet" type="text/css"></head><body><nav class="float-overlay"><p class="big-name"><a href="index.html">Alex Perez</a></p><p class="big-port">port<span>&bull;</span>fo<span>&bull;</span>li<span>&bull;</span>o</p><div class="menu"><span><a href="#" data-filter=".article">Writing</a></span><span><a href="#" data-filter=".port-item">Work</a></span><span><a href="#" data-filter="*">All</a></span></div><p class="directions">Scroll with your mousewheel or the Left and Right buttons</p><div class="rw-sentence"><span>I</span><div class="rw-words"><span>code</span><span>design</span><span>obsess</span><span>watch too much netflix</span><span>&#x262e; &#x2764; 1010</span></div></div></nav><div class="horiz-wrapper"><section class="masonry-content"><div class="port-item item"><a href="http://manydoge.com"><img src="imgs/manydoge.jpg"><div class="desc"><p>Project: manydoge.com</p></div><div class="date"><p>12/14/13</p></div></a></div><div class="port-item item"><a href="http://gohillel.org"><img src="imgs/hillel.jpg"><div class="desc"><p>Project: gohillel.org</p></div><div class="date"><p>11/9/13</p></div></a></div><div class="article item"><div class="desc"><p><a href="https://github.com/alexanderlperez/postmortems/blob/master/gohillel-postmortem.md">gohillel.org:<br />Post-Mortem</a></p></div><div class="date"><p>11/26/13</p></div></div><div class="article item"><div class="desc"><p><a href="https://github.com/alexanderlperez/PortfolioV2">alexanderlperez.com:<br />Colophon</a></p></div><div class="date"><p>11/9/13</p></div></div><div class="port-item item"><a href="http://shopify101-3.myshopify.com"><img src="imgs/sweets.jpg"><div class="desc"><p>Project: samanthassweets.com</p></div><div class="date"><p>11/9/13</p></div></a></div><div class="port-item item"><a href="http://github.com/alexanderlperez/SVGTest"><img src="imgs/childpoverty.jpg"><div class="desc"><p>SVG and D3: Data-Driven graphics in JS</p></div><div class="date"><p>11/9/13</p></div></a></div><div class="port-item item"><a href="http://alexanderlperez.com/hosted-examples/thinktank/index.html"><img src="imgs/thinktank.jpg"><div class="desc"><p>Project: thinktankgoesboom.com</p></div><div class="date"><p>11/9/13</p></div></a></div><div class="article item"><div class="desc"><p><a href="https://github.com/alexanderlperez/spread">Adding mousewheel support to spread</a></p></div><div class="date"><p>11/9/13</p></div></div></section></div><section class="contact is-closed"><div id="face" class="is-hidden"></div><img src="imgs/contact.png" class="open-contact"><p class="head">Touch base</p><form action="send.php" method="POST" class="contact-form"><input type="text" name="email" placeholder="Email"><input type="text" name="subject" placeholder="Subject"><textarea name="msg-txt" placeholder="What's the big idea?"></textarea><input type="submit"><span class="response"></span></form></section><script src="javascripts/jquery-1.9.1.min.js"></script><script src="javascripts/jquery.isotope.min.js"></script><script src="javascripts/jquery.mousewheel.js"></script><script src="javascripts/jquery.ba-bbq.min.js"></script><script src="javascripts/tools.js"></script><script src="javascripts/gol.js"></script><script src="javascripts/reveal.js"></script><script src="javascripts/helpers.js"> </script><script>$(document).ready(function () {
  jQuery(function ($) {
    var $c = $('.contact'),
        $container = $('.masonry-content'),
        $face = $('#face'),
        $hw = $('.horiz-wrapper');
        
    $container.isotope({
      itemSelector: '.item',
      layoutMode: 'cellsByColumn',
      cellsByColumn: {
        animationEngine: 'best-available',
        columnWidth: 450,
        rowHeight: 310 
      }
    });
    
    //horizontal nav
    $('html, body, *').mousewheel(function(e, delta) {
      this.scrollLeft -= (delta * 40);
      e.preventDefault();
    });
    
    var isKeyDown = false;
    var resetKeyDownFlag = function () { isKeyDown = false; };
    var keydownFunc = function (e) {
      if (!isKeyDown) {
        isKeyDown = true;
        if (e.keyCode == 37) { //left
          e.preventDefault();
          $hw.stop().animate({ scrollLeft: $hw.scrollLeft() - 400 }, 150, resetKeyDownFlag);
        } else if (e.keyCode == 39) { //right
          e.preventDefault();
          $hw.stop().animate({ scrollLeft: $hw.scrollLeft() + 400 }, 150, resetKeyDownFlag);
        }
      }
    };
    $(document).keydown(keydownFunc);
    
    //open and close the contact section
    //toggle horizontal keyboard scrolling
    $('.open-contact').on('click', function () { 
      $c.toggleClass('is-closed');
      $hw.toggleClass('is-blurred-out');
      if ($c.hasClass('is-closed')) {
        $(document).keydown(keydownFunc);
      } else {
        $(document).off('keydown');
      }
    });
    
    //make sure if any of the nav links are clicked
    //close the contact section and de-blur the content area
    //so that the nav can happen and the content is filtered
    $('.menu a, .horiz-wrapper').on('click', function (e) {
      $hw.removeClass('is-blurred-out');
      $c.addClass('is-closed');
      $face.addClass('is-hidden');
    });
    
    //create the serialized href links for the jQ BBQ plugin
    $('.menu a').each(function (i, e) {
      var filter = $(e).attr('data-filter');
      $(e).attr('href', "#" + $.param({ filter: filter }));
    });
    
    $('.menu a').on('click', function (e) {
      var href = $(this).attr('href').replace(/^#/, ''),
          option = $.deparam(href, true);
      $.bbq.pushState(option);
      e.preventDefault();
    });
    
    $(window).on('hashchange', function (e) {
      var hashOptions = $.deparam.fragment();
      //needs to have some sort of filter, even if going back to plain index.html (no hash)
      if ($.isEmptyObject(hashOptions)) hashOptions = { filter: '*' };
      $container.isotope(hashOptions);
    }).trigger('hashchange');
    
    $('.isotope').focus();
    $('#face')
  });
});
</script></body></html>

build/index.jade
doctype 5
html(lang="en")
  head
    title Alex Perez, the portfolio
    link(href="stylesheets/normalize.css" rel="stylesheet" type="text/css")
    link(href="stylesheets/isotope.css" rel="stylesheet" type="text/css")
    link(href="stylesheets/custom.css" rel="stylesheet" type="text/css")
  body

    nav.float-overlay
      p.big-name: a(href="index.html") Alex Perez
      p.big-port port<span>&bull;</span>fo<span>&bull;</span>li<span>&bull;</span>o
      .menu
        span: a(href='#' data-filter=".article") Writing
        span: a(href='#' data-filter=".port-item") Work
        span: a(href="#" data-filter="*") All
      p.directions Scroll with your mousewheel or the Left and Right buttons
      .rw-sentence
        span I
        .rw-words
          span code
          span design
          span obsess
          span watch too much netflix
          span &#x262e; &#x2764; 1010
      
    .horiz-wrapper
      section.masonry-content

        .port-item.item
          a(href="http://manydoge.com")
            img(src="imgs/manydoge.jpg")
            .desc
              p Project: manydoge.com
            .date
              p 12/14/13

        .port-item.item
          a(href="http://gohillel.org")
            img(src="imgs/hillel.jpg")
            .desc
              p Project: gohillel.org
            .date
              p 11/9/13

        .article.item
          .desc
            p: a(href="https://github.com/alexanderlperez/postmortems/blob/master/gohillel-postmortem.md") gohillel.org:<br />Post-Mortem
          .date
            p 11/26/13

        .article.item
          .desc
            p: a(href="https://github.com/alexanderlperez/PortfolioV2") alexanderlperez.com:<br />Colophon
          .date
            p 11/9/13

        .port-item.item
          a(href="http://shopify101-3.myshopify.com")
            img(src="imgs/sweets.jpg")
            .desc
              p Project: samanthassweets.com
            .date
              p 11/9/13

        .port-item.item
          a(href="http://github.com/alexanderlperez/SVGTest")
            img(src="imgs/childpoverty.jpg")
            .desc
              p SVG and D3: Data-Driven graphics in JS
            .date
              p 11/9/13

        .port-item.item
          a(href="http://alexanderlperez.com/hosted-examples/thinktank/index.html")
            img(src="imgs/thinktank.jpg")
            .desc
              p Project: thinktankgoesboom.com
            .date
              p 11/9/13

        .article.item
          .desc
            p: a(href="https://github.com/alexanderlperez/spread") Adding mousewheel support to spread
          .date
            p 11/9/13

    section.contact.is-closed
      #face.is-hidden
      img(src="imgs/contact.png" class="open-contact")
      include imports/contact  

    //-script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
    script(src="javascripts/jquery-1.9.1.min.js")
    script(src="javascripts/jquery.isotope.min.js")
    script(src="javascripts/jquery.mousewheel.js")
    script(src="javascripts/jquery.ba-bbq.min.js")
    script(src="javascripts/tools.js")
    script(src="javascripts/gol.js")
    script(src="javascripts/reveal.js")
    script(src="javascripts/helpers.js") 
    script.
      $(document).ready(function () {
        jQuery(function ($) {
          var $c = $('.contact'),
              $container = $('.masonry-content'),
              $face = $('#face'),
              $hw = $('.horiz-wrapper');

          $container.isotope({
            itemSelector: '.item',
            layoutMode: 'cellsByColumn',
            cellsByColumn: {
              animationEngine: 'best-available',
              columnWidth: 450,
              rowHeight: 310 
            }
          });

          //horizontal nav
          $('html, body, *').mousewheel(function(e, delta) {
            this.scrollLeft -= (delta * 40);
            e.preventDefault();
          });

          var isKeyDown = false;
          var resetKeyDownFlag = function () { isKeyDown = false; };
          var keydownFunc = function (e) {
            if (!isKeyDown) {
              isKeyDown = true;
              if (e.keyCode == 37) { //left
                e.preventDefault();
                $hw.stop().animate({ scrollLeft: $hw.scrollLeft() - 400 }, 150, resetKeyDownFlag);
              } else if (e.keyCode == 39) { //right
                e.preventDefault();
                $hw.stop().animate({ scrollLeft: $hw.scrollLeft() + 400 }, 150, resetKeyDownFlag);
              }
            }
          };
          $(document).keydown(keydownFunc);

          //open and close the contact section
          //toggle horizontal keyboard scrolling
          $('.open-contact').on('click', function () { 
            $c.toggleClass('is-closed');
            $hw.toggleClass('is-blurred-out');
            if ($c.hasClass('is-closed')) {
              $(document).keydown(keydownFunc);
            } else {
              $(document).off('keydown');
            }
          });

          //make sure if any of the nav links are clicked
          //close the contact section and de-blur the content area
          //so that the nav can happen and the content is filtered
          $('.menu a, .horiz-wrapper').on('click', function (e) {
            $hw.removeClass('is-blurred-out');
            $c.addClass('is-closed');
            $face.addClass('is-hidden');
          });

          //create the serialized href links for the jQ BBQ plugin
          $('.menu a').each(function (i, e) {
            var filter = $(e).attr('data-filter');
            $(e).attr('href', "#" + $.param({ filter: filter }));
          });

          $('.menu a').on('click', function (e) {
            var href = $(this).attr('href').replace(/^#/, ''),
                option = $.deparam(href, true);
            $.bbq.pushState(option);
            e.preventDefault();
          });

          $(window).on('hashchange', function (e) {
            var hashOptions = $.deparam.fragment();
            //needs to have some sort of filter, even if going back to plain index.html (no hash)
            if ($.isEmptyObject(hashOptions)) hashOptions = { filter: '*' };
            $container.isotope(hashOptions);
          }).trigger('hashchange');

          $('.isotope').focus();
          $('#face')
        });
      });
